@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

